#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.twitterimg{
  width: 3rem;
  margin-bottom: 4rem;
}
.google-logo{
  width: 1.8rem;
  margin-right: .4rem;
  padding-top: .4rem;
}
.apple-logo{
  width: 1.5rem;
  height: 1.5rem;
}
.profile{
  width: 1.8rem;
  height: 1.8rem;
  filter: invert(30);
  padding-left: .3rem;
  margin-top: .2rem;
}
.container{
  /* border: 1px solid white; */
  width: 30rem;

}
.up{
  /* border: 1px solid red; */
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-left: 4.5rem;
}
.google{
  width: 20rem;
  background-color: white;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3rem;
  padding: .2rem;
  margin-bottom: 1.2rem;

}
.left{
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
.google-sign{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding-left: 1rem;

}
.line-one{
  font-size: .8rem;
  margin: 0;
  color: rgb(30, 30, 30);
  font-weight: bold;
}
.line-two{
  font-size: .7rem;
  margin: 0;

}
.apple{
  background-color: white;
  color: rgb(57, 57, 57);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .6rem;
  width: 19.2rem;
  border-radius: 3rem;
  margin-bottom: 1.2rem;

}
.apple-line{
  font-size: .9rem;
  margin: 0;
  font-weight: bold;
  padding-left: .7rem;
}
.next {
  background-color: white;
  width: 20rem;
  border-radius: 4rem;
  color: black;
  margin-bottom: 1.2rem;
}
.password{
  border: 1.5px solid white;
  width: 20rem;
  border-radius: 4rem;
}
input{
  width: 19rem;
  background-color: transparent;
  padding-bottom: 1.5rem;
  padding-top: .5rem;
  padding-left: 1rem;
  border-radius: 9px;
  border: none;
  outline: 2px solid rgb(39, 133, 240);
  margin-bottom: 1.2rem;
}
input::placeholder{
  color: rgb(64, 153, 255);
  
}
.or{
  margin-top: 0;
  font-weight: bold;
  font-size: 1.1rem;
}